body {
  background-image: url('../images/pattern14.png');
  background-repeat: repeat repeat;
}

.list-heading-title {
  font-size: 20px;
  font-weight: bold;
  color: darksalmon;
}

.input-add-new input {
  /*margin-top: 10px;*/
  /*padding-left: 12px;*/
  width: 50%;
  border: none;
  box-shadow: none !important;
}
.input-add-new input:focus {
  outline: 0 !important;
  border-bottom: 1px solid #c0c0c0;
}

.input-add-new input::-webkit-input-placeholder {
  color: dodgerblue;
  padding-left: 5px;
}

input:focus.form-control.no-border {
  border-bottom: 1px solid #c9c9c9 !important;
  /*background-color: red;*/
}

.input-group-addon.transparent {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.panel-default > .panel-heading {
  background-color: inherit;
  color: orange;
}

.no-hover,
.no-hover:hover,
.no-hover:active,
.no-hover:focus {
  background-color: #fff !important;
  outline: 0 !important;
  color: darkgrey !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.more {
  color: #7F99B3;
  letter-spacing: 7px;
}


.top-space {
  margin-top: 50px
}

/* Space out content a bit */
/*body {*/
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
/*}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,*/
/*.marketing,*/
/*.footer {*/
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
/*}*/

/* Custom page header */
/*.header {*/
  /*border-bottom: 1px solid #e5e5e5;*/
/*}*/
/* Make the masthead heading the same height as the navigation */
/*.header h3 {*/
  /*margin-top: 0;*/
  /*margin-bottom: 0;*/
  /*line-height: 40px;*/
  /*padding-bottom: 19px;*/
/*}*/

/* Custom page footer */
/*.footer {*/
  /*padding-top: 19px;*/
  /*color: #777;*/
  /*border-top: 1px solid #e5e5e5;*/
/*}*/

/* Customize container */
/*@media (min-width: 768px) {*/
  /*.container {*/
    /*max-width: 730px;*/
  /*}*/
/*}*/
/*.container-narrow > hr {*/
  /*margin: 30px 0;*/
/*}*/

/* Main marketing message and sign up button */
/*.jumbotron {*/
  /*text-align: center;*/
  /*border-bottom: 1px solid #e5e5e5;*/
/*}*/
/*.jumbotron .btn {*/
  /*font-size: 21px;*/
  /*padding: 14px 24px;*/
/*}*/

/* Supporting marketing content */
/*.marketing {*/
  /*margin: 40px 0;*/
/*}*/
/*.marketing p + h4 {*/
  /*margin-top: 28px;*/
/*}*/

/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {*/
  /* Remove the padding we set earlier */
  /*.header,*/
  /*.marketing,*/
  /*.footer {*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
  /*}*/
  /* Space out the masthead */
  /*.header {*/
    /*margin-bottom: 30px;*/
  /*}*/
  /* Remove the bottom border on the jumbotron for visual effect */
  /*.jumbotron {*/
    /*border-bottom: 0;*/
  /*}*/
/*}*/
